@font-face {
    font-family: ULTRAKILL-font;
    src: url(./fonts/VCR_OSD_MONO.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: 'ULTRAKILL-font', sans-serif;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

a {
    color: white;
    text-decoration: none;
}

#header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 64px;
}

#header ul li {
    flex-shrink: 0;
}

.center-margin {
    margin: 0 6em;
}

.nav a:hover {
    color: red;
}

.container {
    display: flex;
}

.logo {
    width: auto;
    height: 128px;
}

.nav {
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    padding: 16px 32px;
    border: white 8px solid;
    margin-top: 16px;
    margin-bottom: 16px;
    min-width: 800px;
}

.align-center {
    align-items: center;
}

.terminal {
    border: white 8px solid;
    padding: 16px;
}

.button {
    border: white 4px solid;
    font-size: 32px;
    padding: 8px;
    box-sizing: border-box;
}

a:hover.button {
    color: white;
    background-color: rgb(255, 0, 0, 0.5);
}

.information {
    margin-bottom: 32px;
}

.information .container {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    min-width: 800px;
    flex: 0;
}

.information .text p {
    font-size: 32px;
    margin-bottom: 64px;
}

.information .text h1 {
    margin: 0;
    font-size: 64px;
}

.information img {
    border: white 8px solid;
    width: 400px;
    height: auto;
}

.list .container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    list-style: none;
    margin: 0 300px;
    padding: 0;
}

.list li {
    box-sizing: border-box;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    border: white 8px dashed;
    padding: 16px;
    height: 280px;
    max-width: fit-content;
    transition: 0.1s
}

.list p {
    margin: 16px 0 0 0;
}

.list .enemy-name {
    color: lightskyblue;
}

.list li:hover {
    transform: scale(1.2);
    animation-duration: 100ms;
}

.list img {
    align-self: center;
    max-width: 200px;
    max-height: 200px;
    width: 128px;
    height: auto;
}

.quote {
    background-image: url(./images/ultrabackground.png);
    background-attachment: fixed;
    margin: 0;
}

.quote .container {
    flex-direction: column;
    justify-content: center;
    padding: 160px 256px;
}

.quote p {
    font-size: 36px;
    margin: 0;
    text-shadow: 0 1px 12px black;
    margin-bottom: 8px;
}

.quote p.commenter {
    text-shadow: none;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.play .container{
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 32px auto;
    padding: 16px 32px;
    color: gray;
    font-size: 128px;
}

.play p {
    margin: 0 0 64px;
}

.play a {
    color: white;
    margin-top: 64px;
    font-size: 96px;
}

.play img {
    width: 350px;
    height: auto;
}

.footer {
    text-align: center;
    padding: 0 32px;
}

.footer a {
    text-decoration: underline;
}