@font-face {
    font-family: ULTRAKILL-font;
    src: url(./fonts/VCR_OSD_MONO.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: 'ULTRAKILL-font', sans-serif;
}

#header a {
    color: white;
    text-decoration: none;
}

.top a:hover {
    color: red;
}

#header {
    display: flex;
    flex-direction: column;
    margin: 0 6em;
}

.container {
    display: flex;
}

.logo {
    width: auto;
    height: 128px;
}

#header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 64px;
}

#header ul li {
    flex-shrink: 0;
}

.top {
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    padding: 16px 32px;
    border: white 8px solid;
    margin-top: 16px;
    margin-bottom: 32px;
    min-width: 770px;
}

.align-center {
    align-items: center;
}

.terminal {
    border: white 8px solid;
    padding: 16px;
}

.button {
    border: white 4px solid;
    padding: 8px;
}

a:hover.button {
    color: white;
    background-color: rgb(255, 0, 0, 0.5);
}

.information {
    box-sizing: border-box;
    justify-content: space-between;
    gap: 16px;
    min-width: 770px;
}

.information.text p {
    margin-bottom: 32px;
}

.information img {
    border: white 8px solid;
    width: 400px;
    height: auto;
}